<ion-view style="" class=" " id="page13" title="Settings">
    <ion-content class="has-header" padding="false" ng-init="initSettings()">

      <form name="settingForm" class="list " id="settings-form">

        <ion-list class=" " >

        <!-- Profile Cover Page -->
        <div class="profile-nav col-md-3">
            <div class="panel">
                <div class="user-heading round">
                    <p style="color: #ffffff;font-size: 18px;">{{user_info.displayName}}</p>
                </div>
            </div>
        </div>

        <div style="padding:15px;">
            Store is now {{storeStatusText}}<br><br>
            <a style="min-width: 100%;border-radius: 0px;" ng-click="toggleStore()"  class="button button-lite">{{storeButtonText}}</a>
        </div>         
                           
        <div style="padding:15px">
            Store Closed Title
            <label class="item item-input ic-selected">
                <a class="icon icon-right ion-reply" style="margin-right: 12px;"></a>
                <input style="color: 0000;" ng-model="user_extras.storeClosedTitle" type="text" placeholder={{storeClosedTitle}}> 
            </label>
        </div>
        <br>
        
        <div style="padding:15px">
            Store Closed Message
            <label class="item item-input ic-selected">
                <a class="icon icon-right ion-calendar" style="margin-right: 10px;"></a>
                <input style="color: 0000;" ng-model="user_extras.storeClosedMessage" type="text" placeholder={{storeClosedMessage}}> 
            </label>
        </div>

        </ion-list>
      </form>
    </ion-content>




  <!-- <ion-footer-bar  class="bar button-bar-footer" style="height: auto;">   -->
    <div id="footer" class="button-bar"  >
      <a style="min-width: 50%;border-radius: 0px;" ng-click="cancel()" class="button button-lite icon-left ion-close">Cancel</a>
      <a style="min-width: 50%;border-radius: 0px;" ng-click="save(user_extras,data_editable)"  class="button button-assertive icon-left ion-checkmark">Save</a>
    </div>
  <!-- </ion-footer-bar>  -->

</ion-view>
